body {
    background: black;
    color: lime;
    font-family: monospace;
    margin: 100px 20%;
    border: 10px red;
    font-size: 125%;
}
input[type="text"] {
    background-color: inherit;
    color: inherit;
    border: none;
    outline: none;
    font: inherit;
    caret-shape: block;
}
h1,p {
    margin: 40px 0px;
}

a {
    color: cyan;
}
a:visited {
    color: mediumaquamarine;
}
dt::before {
    content: ">";
    padding-right: 0.5em;
}

ul {
    list-style-type: '- ';
}

.address-hide {
    opacity: 0.5;
}

@media only screen and (min-width: 768px)  { 
    /* For desktop, only show the address on hover. For mobile devices let's not
    make people go through that. */
    .address-hide {
        display: none;
    }
}

.address:hover .address-hide,
.address-hide:hover .address-hide {
    display: inline;
}