body {
    background: black;
    color: lime;
    font-family: Menlo, 'Cascadia Code', Consolas, Courier, monospace;
    line-height: 1.15;
    margin: 100px 20% 5% 20%;
    border: 10px red;
    font-size: 15px;
}

ul {
    list-style-type: '- ';
}

li {
    margin-top: 0.5em;
}

.holder{
    width:60%;

}


/* Mobile devices get slightly smaller margins, so that we actually have room
 * for text.
 */
@media only screen and (max-width: 600px) {
    body {
        margin: 50px 5% 5% 5%;
    }
    .holder{
        width:45%;
    }
}

@media only screen and (max-width: 749px) {
    .holder{
        width:35%;
    }
}

.secondary {
    color: #00b300;
}

input[type="text"] {
    background-color: inherit;
    color: inherit;
    border: none;
    outline: none;
    font: inherit;
    caret-shape: block;
    width:100%;
}


h1, .block {
    margin: 40px 0px;
}

p {
	margin: 0.5em 0;
}

a, a:visited {
    color: #84d7ba;
    text-decoration: none;
}

a:hover {
    color: #d784a1;
  }

dt::before {
    content: ">";
    padding-right: 0.5em;
}

.small {
    font-style: normal;
    font-weight: normal;
    font-size: 50%;
}

.meow{
    margin:0px 0px!important;
}

.banners{
    margin:40px 0px;
}

img{
    image-rendering: pixelated;
    width:85%;
    align-content: center;
    margin:auto;
    display:inline-block;
    filter: grayscale(20%);
}

img:hover{
    /*filter: grayscale(0%);*/
}

.imgholder{
    text-align: center;
}

.guysholder > h1{
    margin-top:5px;
    margin-bottom: 145px;
}