body {
    background: black;
    color: lime;
    font-family: monospace;
    margin: 100px 20%;
    border: 10px red;
    font-size: 125%;
}

.secondary {
    color: #00b300;
}

input[type="text"] {
    background-color: inherit;
    color: inherit;
    border: none;
    outline: none;
    font: inherit;
    caret-shape: block;
}
h1,p {
    margin: 40px 0px;
}

a, a:visited {
    color: #84d7ba;
    text-decoration: none;
}

a:hover {
    color: #d784a1;
  }

dt::before {
    content: ">";
    padding-right: 0.5em;
}

ul {
    list-style-type: '- ';
}

.small {
    font-style: normal;
    font-weight: normal;
    font-size: 50%;
}